@model IEnumerable<SingleHack.Models.Person>

@{
    ViewData["Title"] = "Dater";
}

<h1 id="title">Your Daters</h1>

<form asp-controller="People" asp-action="Index">
    <p>
        Code: <input type="text" id="input_code" name="SearchString">
        Password: <input type="text" id="input_pw" name="Password">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
        </tr>
}
    </tbody>
</table>
